/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2018, 5:20:17 PM
    Author     : YEmre
*/

.my-body {
    background-color: #dddddd;
}

.my-navbar {
    background-color: #ebebeb;
    border-radius: 7px;
    width: 90%;
    margin: 1rem auto 1rem auto;
}

.main-slider {
    margin: auto;
}

.form-search-modal-input {
    width: 82% !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 3.7% !important;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}